<div fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="column" fxFlex="900px">
    <form class="mt-60" #clientesForm="ngForm" (ngSubmit)="salvar()">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Dados Pessoais</mat-card-title>
        </mat-card-header>
        <mat-card-content class="mt-20">
          <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
            <div fxLayout="column" fxFlex="800px">
              <mat-form-field class="full-width">
                <mat-label>Nome: *</mat-label>
                <input
                    type="text"
                    [(ngModel)]="cliente.nome"
                    name="nome"
                    placeholder="Ex: José da Silva" matInput/>
              </mat-form-field>
            </div>
          </div>
          <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
            <div fxLayout="column" fxFlex="800px">
              <mat-form-field class="full-width">
                <mat-label>E-mail: *</mat-label>
                <input
                    type="email"
                    [(ngModel)]="cliente.email"
                    name="email"
                    placeholder="Digite seu e-mail" matInput/>
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
            <div fxLayout="column" fxFlex="400px">
              <mat-form-field class="full-width">
                <mat-label>CPF: *</mat-label>
                <input
                    type="text"
                    [(ngModel)]="cliente.cpf"
                    name="cpf"
                    mask="000.000.000-00"
                    placeholder="Digite seu CPF" matInput/>
              </mat-form-field>
            </div>
          </div>

          <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
            <div fxLayout="column" fxFlex="400px">
              <mat-form-field class="full-width">
                <mat-label>Data Nascimento: *</mat-label>
                <input
                    type="text"
                    [(ngModel)] ="cliente.dataNascimento"
                    name="dataNascimento"
                    mask="00/00/0000"
                    placeholder="Digite sua Data Nascimento" matInput/>
              </mat-form-field>
            </div>
          </div>

          <!-- SELECT DA UF -->
<div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
  <div fxLayout="column" fxFlex="400px">
    <mat-form-field class="full-width">
      <mat-label>UF: *</mat-label>
      <mat-select [(ngModel)]="cliente.uf"
                  name="uf"
                  (selectionChange)="carregarMunicipios($event)"
                  required>
        @for(estado of estados; track estado.sigla) {
          <mat-option [value]="estado.sigla">
            {{ estado.sigla }} - {{ estado.nome }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
</div>

<!-- SELECT DO MUNICÍPIO -->
<div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
  <div fxLayout="column" fxFlex="400px">
    <mat-form-field class="full-width">
      <mat-label>Município: *</mat-label>
      <mat-select [(ngModel)]="cliente.municipio"
                  name="municipio"
                  required>
        @for(municipio of municipios; track municipio.nome) {
          <mat-option [value]="municipio.nome">
            {{ municipio.nome }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>
</div>
        </mat-card-content>
        <mat-card-actions>
          @if(!atualizando){
              <button mat-flat-button color="primary" type="submit">
                <mat-icon fontIcon="save"></mat-icon>
                Salvar
              </button>
          } @else {
              <button mat-flat-button color="primary" type="submit">
                <mat-icon fontIcon="edit"></mat-icon>
                Atualizar
              </button>
              }
              <button mat-flat-button color="accent" class="ml-5">
                <mat-icon fontIcon="backspace"></mat-icon>
                Limpar
              </button>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
